.layout{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  // background-color:#212429;
  background: rgb(70,72,77);
  background: radial-gradient(circle, rgba(70,72,77,1) 0%, rgba(33,35,41,1) 100%);
  // background-image: url('../assets/fotoPerfilGris.jpg');
  // background-repeat: no-repeat;
  // background-position: 90% 90%;
  // background-size: 350px 350px;
}
