.skills{
  // margin: 1rem 0px;
  padding: 5rem;
  color: #ccc;
  .tools{
    display: flex;
    padding-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
    i{
      font-size: 8em;
      @media (max-width: 600px){
        font-size: 3em;
      }
    }
    img{
      width: 16rem;
      height: auto;
      @media (max-width:600px){
        width: 8rem;
      }
    }
  }
}
